.home{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 100vh;
    position: relative;
}
.overlay{
    background-color: rgba(0,0,0,.6);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.nav-link{color:#DDD;font-weight: bold;}
.nav-link:hover
,.custom-color{    color: #f16821 !important;}
ul li {padding: 5px 20px;}